@charset "UTF-8";
@media (min-width: 431px) {
  body {
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
    color: #414942;
    font-weight: normal;
    line-height: 1;
    background-color: #F9F7EC;
    overflow-x: hidden;
    letter-spacing: 0.05em;
  }
}